---
import { ZodError } from 'astro:schema';
import type { HTMLAttributes } from 'astro/types';
import { CrendentialSchema, type Credentials } from '@schemas/CredentialSchema';
import rawCredentials from '@content/credentials.json';

interface Props extends HTMLAttributes<'div'> {
    badgeDimensions?: {
        width?: number;
        height?: number;
    }
}

let validatedCredentials: Credentials | null = null;
let validationError: ZodError | null = null;

try {
    validatedCredentials = CrendentialSchema.parse(rawCredentials);
} catch (error) {
    if (error instanceof ZodError) {
        validationError = error;
    }
}

const { badgeDimensions = { width: 300, height: 300 }, ...attributes } = Astro.props;
---

{validationError && (
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="text-lg">Credentials could not be loaded.</span>
    </div>
)}
<div class="flex flex-col flex-wrap md:flex-row gap-5" {...attributes}>
    {validatedCredentials?.credly_credentials.map(item => (
        <div 
            data-iframe-width={badgeDimensions.width}
            data-iframe-height={badgeDimensions.height}
            data-share-badge-id={item} 
            data-share-badge-host="https://www.credly.com">
        </div>
    ))}
</div>

<script is:inline type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

<style>
    @reference "tailwindcss";

    .alert-error > svg {
        @apply h-6 w-6 shrink-0 stroke-current;
    }
</style>