<!doctype html>

{{ $.Scratch.Delete "bg_color" }}<!---->
{{ $.Scratch.Delete "social_list" }}<!---->
{{ $.Scratch.Delete "avatar_url" }}<!---->

<!-- bg_color -->
{{ $color_map := dict "linen" "#faf8f1" "wheat" "#f8f5d7" "gray" "#fbfbfb"
"light" "#fff" }}<!---->
{{ $.Scratch.Set "bg_color" (index $color_map (site.Params.color | default
(print "linen"))) }}<!---->
{{ $bg_color := $.Scratch.Get "bg_color" }}<!---->

<!-- social_list -->
{{ $social_params := slice "twitter" "github" "instagram" "linkedin" "mastodon"
"rss" }}<!---->
{{ range $social_params }}<!---->
{{ if isset site.Params . }}<!---->
{{ $.Scratch.Add "social_list" (slice .) }}<!---->
{{ end }}<!---->
{{ end }}<!---->

<html
  class="not-ready lg:text-base"
  style="--bg: {{ $bg_color }}"
  lang="{{ or site.LanguageCode site.Language.Lang }}"
>
  {{ partial "head.html" . }}
  <body class="text-black duration-200 ease-out dark:text-white">
    {{ partial "header.html" . }}
    <main>
      {{ partial "sidebar_navigation.html" . }}
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <button id="myBtn" class="myBtn" aria-label="Scroll to top button" onclick="topFunction()">
      <i class="fa fa-hand-point-up color--white"></i>
    </button>
    <script>
      let mybutton = document.getElementById("myBtn");
      const scrollDownUntil = 1000;
      window.onscroll = function() { scrollFunction(); };
      function removeAnchors() {
        window.history.replaceState({}, "", window.location.href.split("#")[0]);
      }
      function scrollFunction() {
        const validation = document.body.scrollTop > scrollDownUntil || document.documentElement.scrollTop > scrollDownUntil;
        mybutton.style.display = validation ? "flex" : "none";
      }
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        removeAnchors();
      }
    </script>
  </body>
</html>
