---
import "@styles/global.css";
import { getCollection } from 'astro:content';
import { Header, Footer, MainWrapper } from "@layouts";

const pageTitle = "My page title";

const experiences = await getCollection('experiences');

---

<html lang="en" data-theme="cmyk">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <MainWrapper>
        <Footer />
    </body>
</html>
 