:root {
    --black-color: rgb(32, 39, 44);
    --green-color: #30ceb5;
    --light-green-color: rgba(48, 206, 181, 0.2);
    --pink-color: deeppink;
    --grey-color: #e8e8e8;
    --light-grey-color: #f3f6f8;
    --bluegray-color: #607d8b;
    --purple-blue-color: #4258ff;
    --light-purple-blue-color: rgba(66, 88, 255, 0.4);
    --white-color: #fefefe;
    --text-color: rgb(99, 114, 126);
}

html {
    scroll-behavior: smooth;
    background-color: var(--white-color);
    color: var(--text-color);
}

body {
    background: var(--white-color);
}

i {
    margin-right: 10px;
}

p {
    font-weight: 400;
    font-size: 18px;
}

h2.subtitle {
    color: var(--black-color);
    font-size: 25px;
    margin: 0;
    font-weight: 600;
}
h2.subtitle > span {
    color: var(--green-color);
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

h6.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
}

select {
    padding: 5px;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: slategrey;
    color: white !important;
}

footer a {
    margin: 0px 5px;
}

.no-user-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.brand-logo {
    width: 50px;
    height: 50px;
}
.brand-icon {
    display: contents;
}
.brand-icon img {
    padding: 5px;
}

.pre-title {
    color: var(--green-color);
    font-size: 18px;
    font-weight: 600;
    font-size: 30px;
}
.title {
    color: var(--black-color);
    display: block;
    font-weight: 600;
    padding-top: 16px;
    font-size: 48px;
    line-height: 56px;
}
.highlighted-text {
    color: var(--pink-color);
    font-weight: 500;
}

.lottie {
    position: relative;
}
.lottie:before {
    content: "";
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 0.7) 0%,
        rgba(252, 70, 107, 0.7) 100%
    );
    opacity: 0.5;
    width: 350px;
    height: 350px;
    position: absolute;
    filter: blur(65px);
    top: 50px;
    border-radius: 50%;
}
.lottie-aside-title {
    width: 10%;
    margin-right: 10px;
}

.background--cross-dots {
    background-image: radial-gradient(#dddddd 1.5px, transparent 1.5px),
        radial-gradient(#dddddd 1.5px, transparent 1.5px);
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
    background-color: rgba(145, 51, 7, 0);
}
.background--grey {
    background-color: var(--light-grey-color);
}
.background--white {
    background-color: var(--white-color);
}
.background--green {
    background-color: var(--light-green-color);
}
.font-weight--500 {
    font-weight: 500;
}
.font-weight--600 {
    font-weight: 600;
}
.border--none {
    border: 0;
}
.border-solid--grey {
    border: 1px solid var(--light-grey-color);
}
.font-size--14 {
    font-size: 14px;
}
.font-size--16 {
    font-size: 16px;
}
.font-size--18 {
    font-size: 18px;
}
.font-size--20 {
    font-size: 20px;
}
.font-size--25 {
    font-size: 25px;
}
.text-aling--right {
    text-align: right;
}
.color--white {
    color: var(--white-color);
}
.color--pink {
    color: var(--pink-color);
}
.color--purple-blue {
    color: var(--purple-blue-color);
}
.color--bluegray {
    color: var(--bluegray-color);
}
.color--green {
    color: var(--green-color);
}
.color-text--base {
    color: var(--text-color);
}
.color--black {
    color: var(--black-color);
}

.w-100 {
    width: 100%;
}
.max-width--100ch {
    max-width: 100ch;
}
.min-height-100vh {
    min-height: 100vh;
}

.position--relative {
    position: relative;
}
.top--50 {
    top: 50px;
}
.top--90 {
    top: 90px;
}
.top--minus-120 {
    top: -120px;
}

.margin-top--none {
    margin-top: 0px;
}
.margin-top--10 {
    margin-top: 10px;
}
.margin-top--20 {
    margin-top: 20px;
}
.margin--none {
    margin: 0;
}
.margin-bottom--10 {
    margin-bottom: 10px;
}
.margin-bottom--20 {
    margin-bottom: 20px;
}
.margin-bottom--30 {
    margin-bottom: 30px;
}

.special-padding {
    padding: 130px 20px 0px 20px;
}
.padding-side-by-side--10 {
    padding: 0px 10px;
}
.padding-side-by-side--20 {
    padding: 0px 20px;
}
.padding-up-and-down--50 {
    padding: 50px 0px;
}
.padding--none {
    padding: 0;
}
.padding--20 {
    padding: 20px;
}
.padding-top--50 {
    padding-top: 50px;
}

.flex {
    display: flex;
}
.flex-direction--column {
    flex-direction: column !important;
}
.align-items--flex-start {
    align-items: flex-start;
}
.align-items--center {
    align-items: center;
}
.justify-content--inherit {
    justify-content: inherit;
}
.flex-align-self--center {
    display: flex;
    align-self: center;
}
.justify-content--space-between {
    justify-content: space-between;
}

.list-style--none {
    list-style: none;
}

.shadow-box {
    box-shadow: 0 8px 25px 0 rgb(0 0 0 / 16%);
}

.top-right-link {
    position: absolute;
    top: 15px;
    right: 10px;
}

.card {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 25px 0 rgb(0 0 0 / 16%);
}

.card p:not(.tag-list-wrapper) {
    display: flex;
    justify-content: space-between;
}

.card .data-detail {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.card a {
    font-size: 14px;
    width: fit-content;
    margin-top: auto;
}

.card > .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 100%;
}

.card > .card__content p.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card > .card__content img {
    margin: 0;
}

.plain-card {
    background: var(--white-color);
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    border: 1px solid var(--grey-color);
    border-left: 3px solid var(--bluegray-color);
}

.plain-card:nth-child(odd) {
    border-left: 3px solid var(--pink-color);
}

.plain-card p.detail-data {
    text-align: right;
}

.tag {
    padding: 0px 15px;
    border-radius: 20px;
    color: var(--purple-blue-color);
    border: 0.5px solid var(--light-purple-blue-color);
    background-color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    margin: 5px 2px;
    display: inline-flex;
}

.about-me-section {
    border-radius: 15px;
    background-color: var(--white-color);
    box-shadow: 0 8px 60px 0 rgb(0 0 0 / 16%);
    padding: 16px;
    top: 120px;
}
.about-me-section > div {
    flex: 1 1 0;
    border-right: 1.5px solid var(--grey-color);
}
.about-me-section div:last-child {
    border: none;
}

.language-section {
    background: var(--white-color);
    padding: 5px;
    color: var(--black-color);
}
.language-section p {
    border-right: 1.5px solid var(--grey-color);
}
.language-section p:last-child {
    border: 0;
}

.grid-one-columns-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.grid-two-columns-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-three-columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-card-with-image {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}

.nav-bar_social-network-text {
    font-size: 16px;
}

.nav-bar_social-network-link {
    width: 25px;
    height: 25px;
}

.btn-menu {
    display: none;
}

.myBtn {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 50px;
    z-index: 1;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50px;
    background: var(--purple-blue-color);
}

.myBtn i {
    padding: 0;
    margin: 0;
}

.language-picker {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.background-header {
    flex-direction: row;
}

nav.side_navigation {
    position: fixed;
    width: 50px;
    margin-top: 180px;
    transition: all 0.3s linear;
    box-shadow: 0 8px 25px 0 rgb(0 0 0 / 16%);
    z-index: 2;
}

nav.side_navigation ul li {
    height: 55px;
}

nav.side_navigation ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--white-color);
    transition: all 0.2s linear;
}
nav.side_navigation li:nth-child(odd) a {
    background: var(--purple-blue-color);
}

nav.side_navigation li:nth-child(even) a {
    background: var(--pink-color);
}

nav.side_navigation ul li a i {
    margin: 0;
}

nav.side_navigation ul li a span {
    display: none;
    font-weight: 600;
    letter-spacing: 1px;
}

nav.side_navigation ul li a:hover {
    width: 200px;
}

nav.side_navigation ul li:hover a span {
    padding-left: 5%;
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    nav.side_navigation {
        display: none;
    }

    p.data-detail {
        flex-direction: column;
    }

    .lottie:before {
        width: 200px;
    }

    h1.title {
        font-size: 40px;
    }

    h2.subtitle {
        font-size: 20px;
    }

    h2.subtitle + span {
        font-size: 16px;
    }

    .grid-two-columns-container ul > li {
        flex-direction: column;
    }

    .background-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    nav.side_navigation {
        display: none;
    }

    footer {
        display: block !important;
        height: fit-content !important;
        padding: 15px !important;
    }
    footer a {
        display: block;
        text-align: center;
        margin: 0;
    }

    .special-padding {
        padding: 10px 20px 0px 20px;
    }

    .btn-menu {
        display: inherit;
    }

    .nav-bar-header-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .nav-bar-header-container > * {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .nav-bar_social-network-text {
        font-size: 20px;
        align-self: center;
    }
    .nav-bar_social-network-link {
        width: 50px;
        height: 50px;
    }

    .lottie-aside-title {
        width: 25%;
    }

    .about-me-section {
        position: relative;
        margin: 0px 20px;
        top: 10px;
    }
    .about-me-section > div {
        border: none;
    }

    .plain-card {
        flex-direction: column;
    }

    .plain-card p.detail-data {
        text-align: left;
    }

    .background-header {
        flex-direction: column;
    }

    .grid-two-columns-container,
    .grid-three-columns-container,
    .grid-card-with-image {
        grid-template-columns: 1fr;
    }

    .grid-two-columns-container:has(ul:first-child + ul:nth-child(2)) {
        gap: 0px;
        margin: 0;
    }

    .grid-two-columns-container ul {
        margin: 0;
    }

    .grid-three-columns-container.language-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-three-columns-container.language-section p {
        border: 0;
    }

    .grid-three-columns-container {
        justify-items: center;
        width: 100%;
    }
}
