/* Place custom css here. */

:root {
    --black-color: rgb(32, 39, 44);
    --green-color: #30ceb5;
    --pink-color: deeppink;
    --text-color: rgb(99, 114, 126);
    --grey-color: #e8e8e8;
    --bluegray-color: #607d8b;
    --btn-primary-color: #1065cd;
    --btn-primary-hover-color: #07356d;
}

html {
    scroll-behavior: smooth;
    background-color: white;
}

body {
    background: #fefefe;
}

.max-width--120ch {
    max-width: 120ch;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .landing-section {
        margin-top: 30px;
    }
}

i {
    margin-right: 10px;
}

.position--relative {
    position: relative;
}

.top--30 {
    top: 30px;
}

.background--blur {
    background: rgb(243, 232, 255);
    opacity: 0.55;
    width: 600px;
    height: 550px;
    z-index: 0;
    filter: blur(64px);
    border-radius: 25%;
    position: absolute;
}

.background--cross-dots {
    background-image: radial-gradient(#dddddd 1.5px, transparent 1.5px),
        radial-gradient(#dddddd 1.5px, transparent 1.5px);
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
    background-color: rgba(145, 51, 7, 0);
}

.lottie {
    position: relative;
}
.lottie:before {
    content: "";
    background: radial-gradient(
        circle,
        rgba(63, 94, 251, 0.7) 0%,
        rgba(252, 70, 107, 0.7) 100%
    );
    opacity: 0.5;
    width: 350px;
    height: 350px;
    position: absolute;
    filter: blur(65px);
    top: 50px;
    border-radius: 50%;
}
.lottie-aside-title {
    width: 7%;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .lottie-aside-title {
        width: 10%;
    }
}

.brand-logo {
    width: 50px;
    height: 50px;
}

.knowledge-list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    color: var(--text-color);
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper img {
    margin: 0 10px;
}

.credentials-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 20px;
}

@media (max-width: 768px) {
    .credentials-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.no-user-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blur-background {
    background-image: radial-gradient(
        circle farthest-side at top left,
        rgba(49, 27, 146, 0.05) 1%,
        rgb(255, 255, 255) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

h2.subtitle {
    color: var(--green-color);
    font-size: 30px;
}
h2.subtitle > span {
    color: var(--pink-color);
}

footer {
    display: flex;
    justify-content: center;
    background-color: slategrey;
    color: white !important;
}

footer a {
    margin: 0px 5px;
}

@media (max-width: 768px) {
    footer {
        display: block !important;
        height: fit-content !important;
        padding: 15px !important;
    }
    footer a {
        display: block;
        text-align: center;
        margin: 0;
    }
}

.background--grey {
    background-color: #f3f6f8;
}

.background--white {
    background-color: white;
}

.background--green {
    background-color: rgba(48, 206, 181, 0.2);
}

.border--grey {
    border: 1px solid var(--grey-color);
}

.section-title-wrapper {
    display: flex;
    align-items: flex-start;
}

.normal-text {
    color: var(--text-color);
    font-size: 18px;
}

.flex-align-self--center {
    display: flex;
    align-self: center;
}
.font-size--20 {
    font-size: 20px;
}
.font-size--25 {
    font-size: 25px;
}
.font-size--16 {
    font-size: 16px;
}

.color--pink {
    color: var(--pink-color);
}
.color--bluegray {
    color: var(--bluegray-color);
}
.color--green {
    color: var(--green-color);
}
.color--normal {
    color: var(--text-color);
}
.border--green {
    border: 2px solid var(--green-color);
}
.text--small {
    font-size: 13px;
}
.text--18 {
    font-size: 18px;
}
.top--minus-120 {
    top: -120px;
}
.margin-top--none {
    margin-top: 0px;
}
.margin-top--10 {
    margin-top: 10px;
}
.margin-top--20 {
    margin-top: 20px;
}
.margin--none {
    margin: 0;
}
.margin-bottom--10 {
    margin-bottom: 10px;
}
.margin-bottom--20 {
    margin-bottom: 20px;
}
.margin-bottom--30 {
    margin-bottom: 30px;
}
.padding-side-by-side--20 {
    padding: 0px 20px;
}
.padding-up-and-down--50 {
    padding: 50px 0px;
}
.padding--none {
    padding: 0;
}
.padding--20 {
    padding: 20px;
}
.min-height--730 {
    min-height: 730px;
}
.highlighted-text {
    color: var(--pink-color);
    font-size: 1.1rem;
    font-weight: 600;
}
.align-items--flex-start {
    align-items: flex-start;
}
.align-items--center {
    align-items: center;
}
.justify-content--inherit {
    justify-content: inherit;
}

.brand-icon {
    display: contents;
}

.brand-icon img {
    padding: 5px;
}

.list-style--none {
    list-style: none;
}

/* Studies grid... */
.studies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.studies-wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    position: relative;
}
.studies-wrapper:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-radius: 0px 20px 0px 0px;
    border-color: transparent var(--green-color) transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.studies-grid .study-item,
.experience-topic:nth-child(2n-1):last-child {
    padding: 20px;
}

@media (max-width: 768px) {
    .studies-grid {
        grid-template-columns: 1fr;
    }
}

/* Summary... */
.summary {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 60px 0 rgb(0 0 0 / 16%);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: calc(1vh + 1px) calc(1vw + 1px);
}
.summary > div {
    flex: 1 1 0;
    border-right: 1.5px solid var(--grey-color);
}
.summary > div h6.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
}
.summary > div:last-child {
    border: none;
}
.summary p {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 0;
}
.summary ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.summary ul li {
    display: flex;
    align-items: end;
}
.summary ul li span:first-child {
    width: 30%;
}
.summary ul li span:nth-child(2n) {
    width: 30%;
    color: var(--bluegray-color);
}

@media (max-width: 768px) {
    .summary {
        flex-direction: column;
        margin: 0 20px;
        position: relative;
        top: 10px;
    }
    .summary > div {
        border: none;
    }
}

/* Projects... */
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}
.project-container > div h6.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
    padding: 0;
}
.project-card {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}
.project-card:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent var(--green-color) transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}
.project-card span.title {
    /* color: var(--green-color); */
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 15px 0px;
}
.project-card span.data-detail {
    color: var(--bluegray-color);
    font-size: 14px;
    font-weight: 400;
}
.project-card a {
    width: fit-content;
    display: block;
    margin-top: auto;
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 1.5rem;
    }
    .project-card {
        margin-bottom: 25px;
    }
}

.membership-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.membership-wrapper {
    display: flex;
    align-items: center;
}
.membership-wrapper div:nth-child(even) {
    display: flex;
    flex-flow: column;
}
.membership-wrapper div:has(img) {
    margin-right: 15px;
}
.membership-wrapper img {
    margin: auto;
}

@media (max-width: 768px) {
    .membership-container {
        flex-direction: column;
        margin: 0 20px;
    }
    .membership-wrapper {
        margin-bottom: 30px;
    }
}

/* Grid container... */
.grid-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1.5rem;
    justify-content: center;
}
.grid-section-container .upper-title {
    color: var(--green-color);
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 30px;
}
.grid-section-container .title {
    color: var(--black-color);
    display: block;
    font-weight: 600;
    padding-top: 1rem;
    font-size: 48px;
    line-height: 3.5rem;
}
.grid-section-container p {
    font-weight: 400;
    color: var(--text-color);
    font-size: 18px;
}
.grid-section-container.flexible-first-column {
    grid-template-columns: 55% 45%;
}
.grid-section-container.first-column-wider {
    grid-template-columns: 70% 30%;
}

.no-margin-top {
    margin-top: 0px !important;
}

@media (max-width: 768px) {
    .grid-section-container.flexible-first-column,
    .grid-section-container.first-column-wider {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Language list... */
.lang-list li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.lang-list li > span:first-child {
    font-size: 25px;
}
.lang-list li > span:last-child {
    flex: 1;
}

.lang-list li p {
    min-width: 150px;
}

/* Background... */
.experience-topic_container {
    margin: 15px;
    padding: 15px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: white;
}
.experience-topic_container .title {
    color: var(--text-color);
    position: relative;
    font-weight: 400;
    line-height: 0.5px;
    margin-bottom: 15px;
    font-size: 18px;
}
.experience-topic_container .subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
}
.experience-topic_container .subtitle--secondary {
    font-size: 14px;
    color: var(--bluegray-color);
    font-weight: 400;
}
.experience-topic_container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.experience-topic_container li {
    margin-bottom: 10px;
    padding: 0;
}
.experience-topic_container .experience-topic {
    border-bottom: 1px solid var(--grey-color);
}
.experience-topic_container .experience-topic p {
    margin: 10px 0px;
}
.experience-topic {
    padding: 20px 0px;
}
.experience-topic .cert-title {
    font-size: 20px;
    font-weight: 500;
    color: rgb(32, 39, 44);
}
.experience-topic .cert-subtitle {
    font-size: 18px;
}
.experience-topic .subtitle--secondary {
    font-size: 14px;
    color: var(--bluegray-color);
    font-weight: 400;
}
.experience-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.experience-grid > .experience-topic {
    padding: 0 !important;
}
.experience-topic h4 {
    font-size: 18px;
    padding: 0;
}
.experience-topic ul {
    list-style: none;
    padding: 0;
}
.experience-topic:last-child {
    border: none;
}
.experience-topic:nth-child(2n-1):last-child {
    grid-column: 1 / -1;
}
.experience-topic ul.simple-list {
    margin: 15px 0px;
}
.experience-topic ul.simple-list li {
    font-size: 16px;
    padding-left: 20px;
}
.experience-topic .tag,
.tag {
    padding: 0px 15px;
    border-radius: 20px;
    color: #269ae9;
    border: 0.5px solid rgba(38, 154, 233, 0.2);
    background-color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    margin: 5px 2px;
    display: inline-flex;
}

.font-weight--500 {
    font-weight: 500;
}

.tag--green {
    background-color: rgba(48, 206, 181, 0.2);
    color: var(--bluegray-color);
    border-color: rgba(48, 206, 181, 1);
}

@media (max-width: 768px) {
    .experience-topic_container .title,
    .experience-topic_container .subtitle {
        line-height: 1.5625rem;
    }
    .experience-grid {
        grid-template-columns: 1fr;
    }
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background: var(--green-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid var(--green-color);
    border-radius: 16px;
    z-index: 1;
}

.container.right::after {
    left: -8px;
}

.container.right::before {
    left: 8px;
}

.container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--green-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.container.left .date {
    right: -220px;
}

.container.right .date {
    left: -220px;
}

.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: var(--pink-color);
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: white;
    z-index: 1;
}

.container.left .icon {
    right: 56px;
}

.container.right .icon {
    left: 56px;
}

.container .content {
    padding: 30px;
    background: white;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--grey-color);
}

.container.right .content {
    padding: 30px;
}

.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--pink-color);
}

.container .content p {
    margin: 0;
    font-size: 18px;
    color: var(--text-color);
}

.container .date-content {
    display: none;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
        display: none;
    }

    .container {
        width: 100%;
        padding: 15px 0px;
    }

    .container .date-content {
        display: block;
    }

    .container.right {
        left: 0%;
    }

    .container.left::after,
    .container.right::after {
        left: 82px;
        display: none;
    }

    .container.left::before,
    .container.right::before {
        left: 100px;
        border-color: transparent #006e51 transparent transparent;
        display: none;
    }

    .container.left .date,
    .container.right .date {
        right: auto;
        left: 15px;
        width: 50px;
        display: none;
    }

    .container.left .icon,
    .container.right .icon {
        right: auto;
        left: 146px;
    }

    .container.left .content,
    .container.right .content {
        padding: 20px;
    }
}

/* Others... */

.info-card-container {
    display: flex;
    align-self: center;
}

.info-card {
    padding: 20px;
    border-radius: 20px;
}

.info-card h6 {
    font-size: 20px;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 25px;
}

.nav-bar_social-network-text {
    font-size: 16px;
}

.nav-bar_social-network-link {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .nav-bar_social-network-text {
        font-size: 20px;
        align-self: center;
    }
    .nav-bar_social-network-link {
        width: 60px;
        height: 60px;
    }
}

.about-me-container {
    padding-top: 120px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .about-me-container {
        padding-top: 0px;
        padding-bottom: 50px;
    }
}

.progress {
    min-width: 120px;
    height: 17px;
    border-radius: 20px;
    display: block;
    background: linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
    animation: progress 0.5s steps(10) 0s 1 normal forwards;
}
@keyframes progress {
    100% {
        background-size: var(--level);
    }
}

.container--highlighted {
    box-shadow: 0.2rem 0.2rem 0 var(--pink-color);
    border-radius: 0.625rem;
    border: 0.15rem solid;
}

.masorny-container {
    column-count: 2;
    column-gap: 1.5rem;
    grid-template-rows: masorny;
}

@media (max-width: 768px) {
    .masorny-container {
        display: grid;
        column-count: 1;
        grid-template-columns: 1fr;
    }
}

.grid-articles-container {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid-articles-container {
        display: grid;
        row-gap: 1.5rem;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

.grid-articles-container div:not(.article-body) {
    --img-scale: 1;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 10px;
    box-shadow: none;
    background: #fff;
    overflow: hidden;
    color: var(--text-color);
    border: 1px solid var(--grey-color);
}
.grid-articles-container figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}
.grid-articles-container div img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.article-wrapper {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 20px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    overflow: hidden;
    border: 1px solid var(--grey-color);
}
.article-wrapper figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    border-radius: 20px 20px 0px 0px;
    background: rgba(48, 206, 181, 0.5);
}
.article-wrapper img {
    width: -webkit-fill-available;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}
.article-wrapper .article-body {
    padding: 24px;
    border: none;
}

.btn-container {
    display: inline-flex;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #0b4e7d;
    padding: 10px;
    width: 140px;
    height: 50px;
    margin: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 25px;
    box-shadow: 0.2rem 0.2rem 0 #d8c8ec;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(#0f5d94, #0f5d94) border-box;
}

.btn:hover,
.myBtn:hover {
    box-shadow: 0.2rem 0.2rem 0 var(--green-color);
}

.myBtn {
    display: none;
    align-items: center;
    align-self: center;
    text-align: center;
    position: fixed;
    width: 62px;
    height: 60px;
    bottom: 40px;
    right: 50px;
    z-index: 1;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 25px;
    border: 3px solid transparent;
    border-radius: 25px;
    box-shadow: 0.2rem 0.2rem 0 #d8c8ec;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(#0f5d94, #0f5d94) border-box;
}

@media screen and (max-width: 768px) {
    .myBtn {
        align-items: center;
    }
}
