:root {
    --color-cobalt-blue: #484fd9;
    --color-navy: #4449a6;
    --color-charcoal: #2e2f40;
    --color-electric-teal: #29f2b9;
    --color-light-gray: #f2f2f2;
    --color-pale-lavender: #f6f6fd;
}
