---
import type { AstroBuiltinAttributes } from 'astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'span'> {
    badgeClass?: AstroBuiltinAttributes['class:list'];
}

const { badgeClass = "badge-soft badge-neutral", ...attributes } = Astro.props;
---

<span class:list={['badge font-semibold', badgeClass]} {...attributes}>
    <slot />
</span>