---
import type { AstroBuiltinAttributes } from 'astro';
import type { HTMLAttributes } from 'astro/types';
import Badge from './Badge.astro';

type BadgeContentType = string | number;

interface Props extends HTMLAttributes<'div'> {
    items?: BadgeContentType[];
    wrapperClass?: AstroBuiltinAttributes['class:list'];
    badgeClass?: string;
}

const { items = [], badgeClass = "", wrapperClass, ...attributes } = Astro.props;
const shouldRenderItems = items.length > 0;
---

<div  class:list={['badge-list-wrapper', wrapperClass]} {...attributes}>
    <slot />
    {shouldRenderItems && items?.map((item) => (
        <Badge class:list={["badge-soft", badgeClass]}>{item}</Badge>
    ))}
</div>

<style>
    @reference "tailwindcss";
    
    .badge-list-wrapper {
        @apply flex flex-wrap gap-3;
    }
</style>
