---
import type { HTMLAttributes } from 'astro/types';

type BadgeContentType = string | number;

interface Props extends HTMLAttributes<'div'> {
    items: BadgeContentType[];
    wrapperClass?: string;
    badgeClass?: string;
}

const { items, badgeClass, wrapperClass = "", ...attributes } = Astro.props;
---

<div class:list={['badge-list-wrapper', [wrapperClass] ]} {...attributes}>
    {items.map((item) => (
        <span class:list={['badge badge-soft badge-neutral', [badgeClass] ]}>{item}</span>
    ))}
</div>

<style>
    @reference "tailwindcss";
    
    .badge-list-wrapper {
        @apply flex flex-wrap gap-3;
    }
</style>
