---
import type { HTMLAttributes } from 'astro/types';
import ExternalLinkIcon from '@components/ExternalLinkIcon.astro';

interface Props extends HTMLAttributes<'a'> {
    displayDefaultIcon?: boolean;
    class?: string;
}

const { displayDefaultIcon = false, class: className = "", ...attributes } = Astro.props;
---

<a role="button" class:list={['btn btn-lg bg-primary animated-btn', [className]]} {...attributes}>
    <slot />
    <slot name="icon" />
    {displayDefaultIcon && <ExternalLinkIcon />}
</a>

<style>
    @reference "tailwindcss";

    a {
        @apply text-white w-fit rounded-4xl border-0 flex gap-2;
    }

    a.btn-circle {
        @apply w-10 h-10;
    }

    a.animated-btn {
        @apply transition-all duration-300 ease-in-out transform;
    }

    a.animated-btn:hover {
        @apply scale-110;
    }
</style>
