---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
    headingTitle: string;
    headingClass?: string;
}

const { headingTitle, headingClass = "text-3xl font-semibold md:text-4xl", ...rest } = Astro.props;
---

<section class={rest.class} id={rest.id} {...rest}>
    <div class="flex items-center gap-3 text-my-cobalt-blue">
        <slot name="beforeHeading"/>
        <h1 class={headingClass}>{headingTitle}</h1>
    </div>
    <slot/>
</section>