---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
    headingTitle: string;
    headingClass?: string;
}

const { headingTitle, headingClass = "mt-2 text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl", ...rest } = Astro.props;
---

<section class={rest.class} id={rest.id} {...rest}>
    <h1 class={headingClass}>{headingTitle}</h1>
    <slot/>
</section>