---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
    headingTitle: string;
    subtitle?: string;
    headingClass?: string;
}

const { headingTitle, headingClass, subtitle, ...attributes } = Astro.props;
---

<section {...attributes}>
    <div class="title-wrapper">
        <slot name="beforeHeading"/>
        <div>
            <h1 class={headingClass}>{headingTitle}</h1>
            {subtitle && (<span class="subtitle">{subtitle}</span>)}
        </div>
    </div>
    <slot />
</section>

<style>
    @reference "@styles/global.css";
    
    .title-wrapper {
        @apply flex items-center gap-3 my-6;
    }

    .subtitle {
        @apply text-neutral-500 text-lg font-light block dark:text-base-content;
    }

    h1 {
        @apply text-4xl font-semibold md:text-4xl mb-1;
        color: var(--color-neutral-dark);
    }

    h1 {
        color: var(--color-neutral-dark);
    }
    html[data-theme="dark"] h1 {
        color: var(--color-neutral-light); 
    }
   h1::after {
        @apply text-5xl;
        content: ".";
        color: var(--color-accent);
    }
</style>