---
import { contentDataEntries } from '@app-types/Content';
import { Header, Footer, MainWrapper } from '@layouts';
import { VerticalIconMenu } from '@components';
import { OpenGraph } from '@components/sections';
import '@styles/global.css';

export function getStaticPaths() {
    const pages = contentDataEntries.map((locale) => ({
        params: { lang: locale }
    }));

    return pages;
}

const { lang } = Astro.params;
const pageTitle = "Christian José Torrealba Rondón";
---

<html lang={lang} data-theme="light">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <OpenGraph />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
         
        <MainWrapper />
        <div class="vertical-icon-menu-wrapper">
            <VerticalIconMenu />
        </div>
        <button 
            id="scroll-top-button" 
            class="scroll-top-button" 
            aria-label="Scroll to top button"
        >
            ☝🏼
        </button>
        <Footer />
    </body>
</html>

<style>
    @reference "@styles/global.css";
    
    html {
        scroll-behavior: smooth;
    }
    
    .vertical-icon-menu-wrapper {
        @apply fixed top-1/3 right-5 z-1;
    }

    .scroll-top-button {
        @apply btn btn-xl btn-circle text-5xl border-0 hidden fixed justify-center items-center w-20 h-20 bottom-24 right-5 z-1 focus:outline-none;
        background: var(--color-vibrant-pink);
    }
</style>

<script>
    window.onscroll = function() { scroll(); };
      
    const scrollDownUntil = 1000;
      
    const scrollToTopButton = document.getElementById("scroll-top-button");
    scrollToTopButton?.addEventListener("click", () => {
        goTotop();
    });
      
    function removeAnchors() {
        window.history.replaceState({}, "", window.location.href.split("#")[0]);
    }

    function scroll() {
        const validation = document.body.scrollTop > scrollDownUntil || document.documentElement.scrollTop > scrollDownUntil;
        scrollToTopButton!.style.display = validation ? "flex" : "none";
    }

    function goTotop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        removeAnchors();
    }
</script>
 