{{ define "main" }}
<!-- HEADLINE -->
<div class="background--cross-dots padding-top--50">
  <div class="grid-two-columns-container align-items--center prose prose-neutral relative mx-auto min-h-[calc(100%-9rem)] padding--20 dark:prose-invert">
    <div>
      {{ .Params.greetings | safeHTML }}
      <p>
        {{ .Params.presentation | safeHTML }}
      </p>
    </div>
    <lottie-player 
      src="/lottie/astronaut_pc.json" 
      background="transparent"
      speed="1" 
      class="lottie"
      aria-label="Astronaut in front of a computer"
      loop 
      autoplay>
    </lottie-player>
  </div>
  <div class="grid-two-columns-container about-me-section align-items--center prose prose-neutral relative mx-auto min-h-[calc(100%-9rem)]">
    <div>
      <h6 class="padding--none font-size--20 font-weight--600 margin-bottom--20">
        <i class="fa fa-smile color--pink"></i>
        {{ .Params.about_me }}
      </h6>
      <p class="padding-side-by-side--10 font-size--18 color--black margin--none">
        {{ .Params.summary_about }}
        <span class="block margin-top--20 font-size--25">{{ .Params.summary_hobbies }}</span>
      </p>
    </div>
    <div>
      <h6 class="padding--none font-size--20 font-weight--600 margin-bottom--20">
        <i class="fa fa-glasses color--pink"></i>
        {{ .Params.interests }}
      </h6>
      <p class="padding-side-by-side--10 font-size--18 color--black margin--none">
        {{ range .Params.summary_interests }}
        <span class="tag">{{ . }}</span>
        {{ end }}
      </p>
    </div>
  </div>
</div>
<!-- APTITUDES -->
<div class="background--grey padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert special-padding">
    <h3 id="aptitudes">{{ .Params.aptitudes }} 🧘🏻‍♂️</h3>
    <div class="grid-two-columns-container align-items--flex-start justify-content--inherit color--black">
      <ul class="font-size--18 list-style--none padding--none">
        {{ range $key, $value := first 3 .Params.knowledge }}
        <li>
          <i class="{{ .CSSIconClass }} color--purple-blue"></i>
          {{ .description }}
        </li>
        {{ end }}
      </ul>
      <ul class="font-size--18 list-style--none padding--none">
        {{ range $key, $value := last 3 .Params.knowledge }}
        <li>
          <i class="{{ .CSSIconClass }} color--purple-blue"></i>
          {{ .description }}
        </li>
        {{ end }}
      </ul>
    </div>
    <h3>{{ .Params.languages }} 💬</h3>
    <small class="color-text--base">{{ .Params.polishing_langs }}</small>
    <div class="margin-top--20 grid-three-columns-container language-section font-size--18">
      {{ range .Params.summary_languages }}
      <p class="margin--none flex flex-direction--column justify-center align-items--center block">
        <span class="block"><strong>{{ .emoji }} {{ .language }}</strong></span>
        <small class="block color-text--base">{{ .proficiency }}</small>
      </p>
      {{ end }}
    </div>
  </div>
</div>
<!-- PROJECTS -->
<div class="background--cross-dots padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] padding-side-by-side--20 dark:prose-invert" id="projects">
    <div class="flex align-items--center margin-bottom--20">
      <lottie-player 
          src="/lottie/ovni.json" 
          background="transparent"
          speed="1" 
          aria-label="Ovni"
          class="lottie-aside-title"
          loop 
        autoplay>
      </lottie-player>
      <div>
        {{ .Params.showcased_projects | safeHTML }}
      </div>
    </div>
    <div class="grid-two-columns-container">
      {{ $see_details := .Params.see_details }}
      {{ range $key, $value := .Params.projects_published }}
      <div class="card background--white padding--20 flex flex-direction--column">
        <p class="data-detail margin--none margin-bottom--10">
          <span class="block">{{ .showcased_at }}</span>
          <span class="block color--pink">{{ .owner }}</span>
        </p>
        <span class="data-detail block margin-bottom--10">{{ .flag }} {{ .location }} · {{ .period }}</span>
        <h4 class="font-size--18 margin--none margin-bottom--10">
          {{ .title }}
        </h4>
        <span class="block color--purple-blue margin-bottom--10">{{ .contribute_as }}</span>
        <p class="margin--none font-size--16">
          {{ .contributions }}
        </p>
        <p class="tag-list-wrapper">
          {{ range .technologies }}
          <span class="tag">{{ . }}</span>
          {{ end }}
        </p>
        <a href="{{ .url }}" rel="external" class="color--pink block" target="_blank" aria-label="{{ $see_details }} of project link">
          {{ $see_details }} <i class="fa fa-external-link-alt"></i>
        </a>
      </div>
      {{ end }}
    </div>    
  </div>
</div>
<!-- TECHNOLOGIES -->
<div class="background--grey padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20">
    <h3 id="technologies">{{ .Params.technologies }} 🔮</h3>
    <p class="margin-bottom--10 block">
      {{ .Params.techs_used }} <a href="https://github.com/christianjtr" rel="external" class="color--pink" target="_blank" aria-label="Link to GitHub" title="GitHub">GitHub</a>.
    </p>
    <div class="grid-two-columns-container align-items--flex-start justify-content--inherit">
      <img
          src="/images/word-cloud.svg"
          alt="word cloud of technologies I used to play with"
          class="margin--none"
      />
      <div class="flex-align-self--center background--white padding--20 flex-direction--column">
        <h6 class="font-size--20 font-weight--600">
          <i class="fa fa-code color--pink"></i>
          {{ .Params.tech_knowledge_title }}
        </h6>
        <ul class="padding--none list-style--none">
          {{ range $key, $value := .Params.tech_knowledge }}
          <li id="tech_{{ $key }}">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- PLAYGROUND... -->
<div class="background--cross-dots padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20" id="lab">
    <div class="flex align-items--center margin-bottom--20">
      <lottie-player 
          src="/lottie/ovni.json" 
          background="transparent"
          speed="1" 
          aria-label="Ovni"
          class="lottie-aside-title"
          loop 
        autoplay>
      </lottie-player>
      <div>
        {{ .Params.playground | safeHTML }}
      </div>
    </div>
    <div class="margin-top--none align-items--flex-start justify-content--inherit grid-two-columns-container">
      {{ range $key, $value := .Params.highlighted_projects }}
      <div id="playground_{{ $key }}" class="border-solid--grey available-height-container">
        <div>
          <img src={{ .image }} alt="Preview image of {{ .title }}" class="margin--none"/>
        </div>
        <div class="background--white padding--20 flex flex-direction--column">
          <p class="margin--none font-size--14 flex justify-content--space-between">
            <span class="margin--none color--bluegray">{{ .category }}</span>
            <span class="color--pink">@{{ .role }}</span>
          </p>
          <h4 class="margin--none font-size--18 margin-bottom--20">{{ .title }}</h4>
          <p class="font-size--16 margin--none margin-bottom--10">{{ .description }}</p>
          <p class="margin--none margin--auto">
            {{ range .tags }}
            <span class="tag">{{ . }}</span>
            {{ end }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- TOOLS -->
<div class="background--grey padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20">
    <h3 class="margin--none margin-bottom--10" id="tools">{{ .Params.tools_title }} 🎨</h3>
    <span class="block margin-bottom--20 font-size--18">{{ .Params.tools_desc }}</span>
    <div class="grid-three-columns-container">
      {{ range $key, $value := .Params.tools }}
      <div id="toolset_{{ $key }}">
        <span class="title block font-size--20">
          <i class="{{ .icon }} color--pink"></i>
          {{ .category }}
        </span>
        <p id="tool_category_{{ $key }}" class="margin--none">
          {{ range .tools }}
          <span class="tag">{{ . }}</span>
          {{ end }}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- BACKGROUND -->
<div class="background--cross-dots padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20" id="background">
    <div class="flex align-items--center margin-bottom--30">
      <lottie-player 
          src="/lottie/ovni.json" 
          background="transparent"
          speed="1" 
          aria-label="Ovni"
          class="lottie-aside-title"
          loop 
        autoplay>
      </lottie-player>
      <div>
        {{ .Params.professional_experiences_title | safeHTML }}
      </div>
    </div>
    <div class="card font-size--18 relative background--white w-100 margin-bottom--30 padding--20">
      <h4 class="margin--none margin-bottom--20">V-Shape Professional Profile 👨‍🚀</h4>
      <div id="chart-container">
        <table class="charts-css bar multiple stacked">
          <tbody>
            <tr>
              <td style="--size:0.40; --color:#EFD81B;" class="font-size--14">
                <span class="data padding-side-by-side--20">Software</span>
              </td>
              <td style="--size:0.20; --color:#2AB8CB;" class="color--white font-size--14">
                <span class="data padding-side-by-side--20">Data</span>
              </td>
              <td style="--size:0.20; --color:#7161EC;" class="color--white font-size--14">
                <span class="data padding-side-by-side--20">Product</span>
              </td>
              <td style="--size:0.20; --color:#F24B03;" class="color--white font-size--14">
                <span class="data padding-side-by-side--20">User Experience</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h3 class="margin--none margin-bottom--20 marging-top--10">{{ .Params.background_title }} 💼</h3>
    <div class="grid-one-columns-container">
      {{ range $key, $value := .Params.experiences }}
      <div id="experience_{{ $key }}" class="plain-card align-items--center flex-direction--column">
        <div class="w-100 flex justify-content--space-between background-header">
          <div>
            <h4 class="font-size--18 margin--none">{{ .position }}</h4>
            <span class="block color--purple-blue">{{ .company }}</span>
            <span class="period block color-text--base font-size--14">{{ .sector }}</span>
          </div>
          <div>
            <p class="margin--none font-size--14 w-100">
              <span class="period block color-text--base">
                <strong>{{ .location }}</strong>
              </span>
              <span class="period block color-text--base">
                {{ .period }}
              </span>
            </p>
          </div>
        </div>
        <p class="font-size--16 margin--none">{{ .description }}</p>
        <p class="margin--none w-100">
          {{ range .tech }}
          <span class="tag">{{ . }}</span>
          {{ end }}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- TRAINING -->
<div class="background--grey padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20">
    <h3 class="margin--none margin-bottom--10" id="tools">{{ .Params.training }} 📝</h3>
    <span class="block margin-bottom--20 font-size--18">{{ .Params.training_desc }}</span>
    <div class="grid-two-columns-container">
      {{ range $key, $value := .Params.industry_courses }}
      <div id="training_{{ $key }}" class="background--white padding--20">
        <h6 class="block margin-bottom--10 font-size--20 font-weight--600">
          <i class="fa fa-chalkboard-teacher color--pink"></i>
          {{ .industry }}
        </h6>
        <ul class="margin--none padding--none">
          {{ range .courses }}
          <li class="padding--none font-size--16 margin-bottom--10 flex justify-content--space-between">
            <span class="block">&#x2022; {{ . }}</span>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- DIPLOMAS AND STUDIES -->
<div class="background--cross-dots padding-up-and-down--50">
  <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] dark:prose-invert padding-side-by-side--20" id="diplomas">
    <div class="flex align-items--center margin-bottom--30">
      <lottie-player 
          src="/lottie/ovni.json" 
          background="transparent"
          speed="1" 
          aria-label="Ovni"
          class="lottie-aside-title"
          loop 
        autoplay>
      </lottie-player>
      <div>
        {{ .Params.diplomas_title_section | safeHTML }}
      </div>
    </div>
    <div class="grid-three-columns-container margin-bottom--30">
      {{ $show_details := .Params.show_details }}
      {{ range $key, $value := .Params.memberships }}
      <div id="membership_{{ $key }}" class="card font-size--18 relative background--white w-100">
        <div class="card__content padding--20">
          <img 
            src="{{ .imageURL }}" 
            title="{{ .organization }}"
            alt="{{ .organization }} logo"
            width="70"
            id="membership_organization_{{ $key }}"
          />  
          <p class="margin--none content">
            <small class="block color--bluegray">
              {{ if eq .showMembershipId true }}
              <i class="fa fa-building mr-1"></i>
              {{ .type }} · Nº {{ .member_no }}
              {{ else }}
              <i class="fa fa-graduation-cap mr-1"></i>
              {{ .type }}
              {{ end }}
            </small>
            <span class="block">
              <strong>{{ .organization }}</strong>
            </span>
            <span class="font-size--16 color-text--base">
              {{ .degree }}
            </span>
          </p>
        </div>
        {{ if eq .showURL true }}
        <a href="{{ .url }}" title="{{ $show_details }} diploma" rel="external" target="_blank" class="color--pink font-size--14 top-right-link" aria-label="Link to diploma">
          {{ $show_details }} <i class="fa fa-external-link-alt"></i>
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <br />
    <h3 class="margin--none margin-bottom--20 marging-top--10">{{ .Params.studies_title }} 📚</h3>
    <p class="block font-size--18">
      {{ .Params.certs_desc }} <a href="https://www.credly.com/users/christianjtr/badges" rel="external" aria-label="Link to Credly profile" class="color--pink" target="_blank" title="Credly">Credly</a>.
    </p>
    <div class="align-items--flex-start justify-content--inherit margin-bottom--30">
      <div class="grid-two-columns-first-column-grid-wider">
        <div class="flex flex-direction--column gap--20">
          {{ range $key, $value := .Params.studies }}
          <div id="study_{{ $key }}" class="plain-card">
            <div class="w-100">
              <p class="flex justify-content--space-between font-size--14 margin-bottom--10 margin--none">
                <span class="block">{{ .level }}</span>  
                <span class="block">
                  <strong>{{ .location }}</strong>
                </span>
              </p>
              <h4 class="font-size--18 margin--none">{{ .degree }}</h4>
              <span class="block color--purple-blue">{{ .key }}</span>
              <span class="block font-size--16">{{ .school }}</span>
              <span class="block color-text--base font-size--14 detail-data">{{ .period }}</span>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="flex flex-direction--column justify-center justify-content--inherit gap--20">
          <div data-iframe-width="100%" data-iframe-height="240" data-share-badge-id="f4d80edd-5f42-4234-bab2-8805d5121ecb" data-share-badge-host="https://www.credly.com"></div>
          <div data-iframe-width="100%" data-iframe-height="240" data-share-badge-id="26b9f00b-156e-4832-8808-a424f43af345" data-share-badge-host="https://www.credly.com"></div>
          <div data-iframe-width="100%" data-iframe-height="240" data-share-badge-id="e4c9bf26-0936-4460-97a2-eeb1d620a55c" data-share-badge-host="https://www.credly.com"></div>
          <div data-iframe-width="100%" data-iframe-height="240" data-share-badge-id="b7370ae3-4802-4fe9-b393-fbdd52859c0a" data-share-badge-host="https://www.credly.com"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}