{{ define "main" }}
  <section class="grid-section-container align-items--center landing-section">
    <article class="w-10/12">
      <h1 class="upper-title">
        👋🏻 Hi there folks, I am
        <span class="title">
          Christian José<br/>Torrealba Rondón
        </span>
      </h1>
      <p>
        Product-oriented professional who leverages
        <span class="highlighted-text">systems design thinking, engineering, data insights, 
        and an agile mindset</span> to deliver user-centric solutions that drive impact.
      </p>
    </article>
    <article class="w-1">
    <img
      src="/images/home-office.svg"
      alt="A remote worker who is at home in front a computer"
      width="100%"/>
    </article>
  </section>
  <!-- SUMMARY -->
  <section class="summary">
    <div>
      <span class="title">
        <i class="fa fa-smile color--pink"></i>
        About Me
      </span>
      <p>
        {{ .Params.summary_about }}
        <span class="block margin-top--20">{{ .Params.summary_hobbies }}</span>
      </p>
    </div>
    <div>
      <span class="title">
        <i class="fa fa-glasses color--pink"></i>
        Interests
      </span>
      <p>
        {{ range .Params.summary_interests }}
        <span class="tag">{{ . }}</span>
        {{ end }}
      </p>
    </div>
    <div>
      <span class="title">
        <i class="fa fa-language color--pink"></i>
        Languages
      </span>
      <ul>
        {{ range .Params.summary_languages }}
        <li>
          <span class="block normal-text">{{ .language }}</span>
          <span class="block"><small>{{ .proficiency }}</small></span>
          <span class="progress" style="--level: {{ .level }}"></span>
        </li>
        {{ end }}
      </ul>
      <small class="color--bluegray">* Polishing them up continuously</small>
    </div>
  </section>
  <!-- ABOUT ME -->
  <h2 class="subtitle">Knowledgeable<span>.</span></h2>
  <section class="grid-section-container align-items--flex-start justify-content--inherit">
    <article>
      <h3>Aptitudes 🧘🏻‍♂️</h3>
      <ul class="knowledge-list">
        {{ range $key, $value := .Params.knowledge }}
        <li>
          <i class="{{ .CSSIconClass }} color--pink"></i>
          {{ .description }}
        </li>
        {{ end }}
      </ul>
    </article>
    <article>
      <h3>Relevant Diplomas and Organizations 🏛️</h3>
      {{ range $key, $value := .Params.memberships }}
      <div class="membership-wrapper">
        <div>
          <img 
            src="{{ .imageURL }}" 
            title="{{ .organization }}"
            alt="{{ .organization }} logo"
            width="50%"
            id="membership_organization_{{ $key }}"
          />  
        </div>
        <div class="normal-text">
          <span class="block">
            <strong>{{ .organization }}</strong>
          </span>
          <span class="block">
            {{ if eq .showMembershipId true }}
            <small>Credential Id: {{ .member_no }}</small>
            {{ else }}
            <small>Diploma: {{ .degree }}</small>
            {{ end }}
          </span>
        </div>
      </div>
      {{ end }}
    </article>
  </section>
  <section class="grid-section-container align-items--flex-start justify-content--inherit">
    <article>
      <h3>Technologies 🔮</h3>
      <span class="normal-text margin-bottom--10 block">
        Some techs I used to play with. 
        Examples on <a href="https://github.com/christianjtr" rel="external" class="color--pink" target="_blank" title="GitHub">GitHub</a>.
      </span>
      <img
        src="/images/word-cloud.svg"
        alt="word cloud of technologies I used to play with"
        width="90%"
        class="margin--none"/>
    </article>
    <article>
      <h3>Credentials 🎈</h3>
      <span class="normal-text block margin-bottom--20">Relevant certifications I have gotten so far. Refer to my <a href="https://www.credly.com/users/christianjtr/badges" rel="external" class="color--pink" target="_blank" title="Credly">Credly</a> profile.</span>
      <div class="credentials-wrapper">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f4d80edd-5f42-4234-bab2-8805d5121ecb" data-share-badge-host="https://www.credly.com"></div>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="26b9f00b-156e-4832-8808-a424f43af345" data-share-badge-host="https://www.credly.com"></div>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e4c9bf26-0936-4460-97a2-eeb1d620a55c" data-share-badge-host="https://www.credly.com"></div>
      </div>
    </article>
  </section>
  <section class="grid-section-container align-items--flex-start justify-content--inherit">
    <article>
      <h3 class="margin--none margin-bottom--10">Tools 🎨</h3>
      <span class="normal-text block">A brief compilation of tools I have used.</span>
      <div class="project-container">
        {{ range $key, $value := .Params.tools }}
        <p class="normal-text padding--20 tool-wrapper" id="tool_category_{{ $key }}">
          <span class="block margin-bottom--20">
            <i class="{{ .icon }} color--pink"></i>
            {{ .category }}
          </span>
          {{ range .tools }}
          <span class="tag">
            {{ . }}
          </span>
          {{ end }}
        </p>
        {{ end }}
      </div>
    </article>
  </section>
  <!-- PROJECTS -->
  <hr>
  <h2 class="subtitle">Significant Projects<span>.</span></h2>
  <section class="grid-section-container align-items--flex-start justify-content--inherit">
    <article>
      <span class="normal-text block margin-top--10">
        Presented at <strong>International Conferences.</strong> See additional details on <a href="https://www.linkedin.com/in/christianjtr/" rel="external" class="color--pink" target="_blank" title="LinkedIn">LinkedIn.</a>
      </span>
      <div class="project-container margin-top--20">
        {{ range $key, $value := .Params.projects_published }}
        <div class="project-card">
          <span class="data-detail block">
            <strong>{{ .showcased_at }}</strong>
            <br>
            {{ .flag }} {{ .location }}
            <span class="block">
              <i class="fa fa-calendar"></i>
              {{ .period }} · {{ .owner }}
            </span>
          </span>
          <h4>
            {{ .title }}
          </h4>
          <p class="normal-text margin--none">
            {{ .contributions }}
          </p>
          <p>
            {{ range .technologies }}
            <span class="tag">{{ . }}</span>
            {{ end }}
          </p>
          <a href="{{ .url }}" rel="external" class="text--small color--pink block" target="_blank">
            See details <i class="fa fa-external-link-alt"></i>
          </a>
        </div>
        {{ end }}
      </div>
    </article>
  </section>
  </section>
  <!-- HIGLIGHTS -->
  <hr>
  <h2 class="subtitle">Highlights<span>.</span></h2>
  <p class="normal-text margin-top--10">
    Here are some of the <strong>projects I have participated in</strong>, either as an author or contributor.
  </p>
  <section class="grid-articles-container margin-top--20">
    {{ range $key, $value := .Params.highlighted_projects }}
    <article>
      <div class="article-wrapper">
        <figure>
          <img src={{ .image }} alt="Preview image of {{ .title }}"/>
        </figure>
        <div class="article-body">
          <h4>{{ .title }}</h4>
          <p class="normal-text">
            {{ .description }}
          </p>
          <p>
            {{ range .tags }}
            <span class="tag">{{ . }}</span>
            {{ end }}
          </p>
          <small class="color--pink">@{{ .role }}</small>
        </div>
      </div>
    </article>
    {{ end }}
  </section>
  <!-- BACKGROUND -->
  <hr>
  <h2 class="subtitle">Background<span>.</span></h2>
  <p class="normal-text margin-top--10">
    An overview of contributions done as an engineer, <strong>in three (3) different countries so far</strong>
    , in addition to the educational path I have chosen to enrich my career journey.
  </p>
  <section class="grid-section-container align-items--flex-start justify-content--inherit">
    <!--- BACKGROUND ::: PROFESSIONAL EXPERIENCE -->
    <article>
      <h3>Professional Experience 🧑🏻‍💼</h3>
      <div class="timeline">
          {{ range $key, $value := .Params.experiences }}
          <div class="card" id="experience_{{ $key }}">
            <div class="info">
              <small>📍 {{ .location }}</small>
              <h3 class="title">{{ .position }}</h3>
              <span class="subtitle block">{{ .company }}</span>
              <span class="subtitle--secondary block">
                <i class="fa fa-industry"></i>
                {{ .sector }}
              </span>
              <span class="subtitle--secondary block">
                <i class="fa fa-calendar"></i>
                {{ .period }}
              </span>
              <p>{{ .description }}</p>
            </div>
          </div>
          {{ end }}
      </div>
    </article>
    <article>
      <!--- BACKGROUND ::: STUDIES -->
      <h3>Studies 📚</h3>
      <div class="experience-topic_container">
        <span class="ribbon"><i class="fa fa-user-graduate"></i></span>
        {{ range $key, $value := .Params.studies }}
        <div id="studies_{{ $key }}">
          <small>📍 {{ .location }}</small>
          {{ range .studies }}
          <div class="experience-topic">
            {{ if eq .isOngoing true }}
            <small class="block">
              <i class="fa fa-book color--pink" title="On-going"></i>
              On-going
            </small>
            {{ end }}
            <h4 class="title margin-top--none">{{ .degree }}</h4>
            <span class="subtitle--secondary block">{{ .school }}</span>
            <span class="subtitle--secondary block">
              <i class="fa fa-calendar"></i>
              {{ .period }}
            </span>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <!--- BACKGROUND ::: CERTIFICATIONS -->
      <h3>Certifications 🤓</h3>
      <div class="experience-topic_container">
        <span class="ribbon"><i class="fa fa-medal"></i></span>
        {{ range $key, $value := .Params.certifications }}
        <div id="certification_{{ $key }}" class="experience-topic">
          <h4 class="title margin-top--none">{{ .organization }}</h4>
          <ul>
            {{ range .certifications }}
            <li>
              <span class="subtitle block">{{ .title }}</span>
              <span class="subtitle--secondary block">
                <i class="fa fa-calendar"></i>
                {{ .date }}
                {{ if eq .showCredential true }} · Credential Id: {{ .credential }}{{ end }}
              </span>
              {{ if eq .showURL true }}
              <a href="{{ .url }}" rel="external" class="text--small color--pink" target="_blank">
                Show credential <i class="fa fa-external-link-alt"></i>
              </a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </article>
  </section>
{{ end }}