{{ define "main" }}
  <!-- HEADLINE -->
  <div class="background--cross-dots min-height--730">
    <section class="grid-section-container align-items--center landing-section prose prose-neutral relative mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <div class="w-10/12 position--relative top--30">
        <h1 class="upper-title">
          👋🏻 Hi there folks, I am
          <span class="title">
            Christian José<br/>Torrealba Rondón
          </span>
        </h1>
        <p>
          Product-oriented professional who leverages
          <span class="highlighted-text">systems design thinking, engineering, data insights, 
          and an agile mindset</span> to deliver user-centric solutions that drive impact.
        </p>
        <div class="btn-container margin-top--20">
          <a href="#projects" class="btn" aria-label="Go to projects section" title="Projects">
            Projects<span class="color--pink text--18">.</span>
          </a>
          <a href="#background" class="btn" aria-label="Go to background section" title="Background">
            Background<span class="color--pink text--18">.</span>
          </a>
        </div>
      </div>
      <lottie-player 
        src="/lottie/astronaut_pc.json" 
        background="transparent"
        speed="1" 
        class="lottie"
        aria-label="Astronaut in front of a computer"
        loop 
        autoplay>
      </lottie-player>
    </section>
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert relative padding--none">
      <section class="summary absolute top--30">
        <div>
          <h6 class="title">
            <i class="fa fa-smile color--pink"></i>
            About Me
          </h6>
          <p>
            {{ .Params.summary_about }}
            <span class="block margin-top--20 font-size--25">{{ .Params.summary_hobbies }}</span>
          </p>
        </div>
        <div>
          <h6 class="title">
            <i class="fa fa-glasses color--pink"></i>
            Interests
          </h6>
          <p>
            {{ range .Params.summary_interests }}
            <span class="tag">{{ . }}</span>
            {{ end }}
          </p>
        </div>
      </section>
    </div>
  </div>
  <!-- KNOWLEDGE -->
  <div class="background--grey">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert about-me-container">
      <section class="grid-section-container flexible-first-column align-items--flex-start justify-content--inherit">
        <div>
          <h3>Aptitudes 🧘🏻‍♂️</h3>
          <ul class="knowledge-list text--18">
            {{ range $key, $value := .Params.knowledge }}
            <li>
              <i class="{{ .CSSIconClass }} color--pink"></i>
              {{ .description }}
            </li>
            {{ end }}
          </ul>
        </div>
        <div>
          <h3>Languages 💬</h3>
          <small class="color--normal">* Polishing them up continuously</small>
          <ul class="padding--none lang-list">
            {{ range .Params.summary_languages }}
            <li class="margin-bottom--10">
              <span class="block mr-5">{{ .emoji }}</span>
              <p class="margin--none">
                <span class="block">{{ .language }}</span>
                <small class="block">{{ .proficiency }}</small>
              </p>
              <span class="progress" style="--level: {{ .level }};"></span>
            </li>
            {{ end }}
          </ul>
        </div>
      </section>
    </div>
  </div>
  <!-- DIPLOMAS AND ORGANIZATIONS -->
  <div class="background--green padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert padding--none">
      <h3 class="margin-bottom--30 padding-side-by-side--20">Prestigious Diplomas and Memberships 🏛️</h3>
      <div class="membership-container">
        {{ range $key, $value := .Params.memberships }}
        <div class="membership-wrapper">
          <div>
              <img 
                src="{{ .imageURL }}" 
                title="{{ .organization }}"
                alt="{{ .organization }} logo"
                width="50"
                id="membership_organization_{{ $key }}"
              />  
          </div>
          <div class="text--18">
            <small class="block color--bluegray">
              {{ if eq .showMembershipId true }}
              <i class="fa fa-building mr-1"></i>
              Membership
              {{ else }}
              <i class="fa fa-graduation-cap mr-1"></i>
              Diploma
              {{ end }}
            </small>
            <span class="block normal-text">
              <strong>{{ .organization }}</strong>
            </span>
            <span class="block normal-text">
              {{ if eq .showMembershipId true }}
              Credential Id: {{ .member_no }}
              {{ else }}
              {{ .degree }}
              {{ end }}
            </span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- CREDENTIALS -->
  <div class="background--cross-dots margin-bottom--20 margin-top--10">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <section class="grid-section-container align-items--flex-start justify-content--inherit">
        <div>
          <h3>Credentials 🎈</h3>
          <span class="normal-text block margin-bottom--30">
            Official certifications I have gotten so far. Refer to my <a href="https://www.credly.com/users/christianjtr/badges" rel="external" class="color--pink" target="_blank" title="Credly">Credly</a> profile.
          </span>
          <div class="credentials-wrapper">
            <div data-iframe-width="350" data-iframe-height="240" data-share-badge-id="f4d80edd-5f42-4234-bab2-8805d5121ecb" data-share-badge-host="https://www.credly.com"></div>
            <div data-iframe-width="350" data-iframe-height="240" data-share-badge-id="26b9f00b-156e-4832-8808-a424f43af345" data-share-badge-host="https://www.credly.com"></div>
            <div data-iframe-width="350" data-iframe-height="240" data-share-badge-id="e4c9bf26-0936-4460-97a2-eeb1d620a55c" data-share-badge-host="https://www.credly.com"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- TECHNOLOGIES -->
  <div class="background--cross-dots margin-bottom--20">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <section class="grid-section-container align-items--flex-start justify-content--inherit">
        <div>
          <h3>Technologies 🔮</h3>
          <span class="normal-text margin-bottom--10 block">
            Some techs I used to play with. 
            Examples on <a href="https://github.com/christianjtr" rel="external" class="color--pink" target="_blank" title="GitHub">GitHub</a>.
          </span>
          <img
            src="/images/word-cloud.svg"
            alt="word cloud of technologies I used to play with"
            width="1000"
            class="margin--none"
          />
        </div>
        <div class="flex-align-self--center info-card-container">
          <div class="background--grey info-card">
            <h6 class="margin-bottom--10">
              <i class="fa fa-code color--pink"></i>
              Tech stack knowledge
            </h6>
            <span class="block color--normal">
              As a generalist engineer, who is interested in several areas of knowledge, I am into these technologies for:
            </span>
            <ul class="color--normal padding--none list-style--none">
              <li>💡 Product (Ideation, Design Thinking, Prototyping).</li>
              <li>💅 Frontend (Web applications, Tooling).</li>
              <li>👾 Backend (APIs).</li>
              <li>📊 Data (Modeling, ETL, Visualization).</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- TOOLS -->
  <div class="background--grey padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <section class="grid-section-container align-items--flex-start justify-content--inherit">
          <div>
            <h3 class="margin--none margin-bottom--10">Tools 🎨</h3>
            <span class="normal-text block margin-bottom--30">A brief compilation of tools I have used.</span>
            <div class="project-container">
              {{ range $key, $value := .Params.tools }}
              <div>
                <h6 class="title block margin-bottom--20">
                  <i class="{{ .icon }} color--pink"></i>
                  {{ .category }}
                </h6>
                <p id="tool_category_{{ $key }}">
                  {{ range .tools }}
                  <span class="tag">
                    {{ . }}
                  </span>
                  {{ end }}
                </p>
              </div>
              {{ end }}
            </div>
          </div>
        </section>
    </div>
  </div>
  <!-- PROJECTS -->
  <div class="background--cross-dots padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <div class="section-title-wrapper">
        <lottie-player 
            src="/lottie/ovni.json" 
            background="transparent"
            speed="1" 
            aria-label="Ovni"
            class="lottie-aside-title"
            loop 
          autoplay>
        </lottie-player>
        <h2 class="subtitle block margin-top--10" id="projects">Projects<span>.</span></h2>
      </div>
      <section class="grid-section-container align-items--flex-start justify-content--inherit">
          <div>
            <h3 class="margin-bottom--10 margin-top--20">Showcased Projects 🛸</h3>
            <span class="normal-text block margin-bottom--30">
              Presented at <strong>International Conferences.</strong> See additional details on <a href="https://www.linkedin.com/in/christianjtr/" rel="external" class="color--pink" target="_blank" title="LinkedIn">LinkedIn.</a>
            </span>
          </div>
        </section>
        <section class="grid-section-container flexible-first-column no-margin-top align-items--flex-start justify-content--inherit">
          {{ range $key, $value := .Params.projects_published }}
          <div class="info-card-container">
            <div class="info-card project-card border--grey background--white">
              <span class="data-detail block">
                <strong class="color--pink text--18">{{ .showcased_at }}</strong>
                <br>
                {{ .flag }} {{ .location }}
                <span class="block">
                  <i class="fa fa-calendar"></i>
                  {{ .period }} · {{ .owner }}
                </span>
                <span class="block">
                  Contributed as: {{ .contribute_as }}
                </span>
              </span>
              <h4 class="text--18">
                {{ .title }}
              </h4>
              <p class="normal-text margin--none">
                {{ .contributions }}
              </p>
              <p>
                {{ range .technologies }}
                <span class="tag">{{ . }}</span>
                {{ end }}
              </p>
              <a href="{{ .url }}" rel="external" class="text--small color--pink block" target="_blank">
                See details <i class="fa fa-external-link-alt"></i>
              </a>
            </div>
          </div>
          {{ end }}
        </section>    
    </div>
  </div>
  <!-- HIGHLIGHTED PROJECTS -->
  <div class="background--green padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
        <div>
          <h3 class="margin--none margin-bottom--10">Highlighted Projects 🚀</h3>
          <span class="normal-text block margin-bottom--30">
            Here are some of the <strong>projects I have participated in</strong>, either as an author or contributor.
          </span>
        </div>
        <section class="masorny-container no-margin-top align-items--flex-start justify-content--inherit">
          {{ range $key, $value := .Params.highlighted_projects }}
          <article class="article-wrapper margin-bottom--30">
            <figure>
              <img src={{ .image }} alt="Preview image of {{ .title }}"/>
            </figure>
            <div class="article-body border--grey">
              <h4 class="margin--none text--18">{{ .title }}</h4>
              <span class="color--pink">@{{ .role }}</span>
              <p class="normal-text">
                {{ .description }}
              </p>
              <p>
                {{ range .tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
              </p>
            </div>
          </article>
          {{ end }}
        </section>
    </div>
  </div>
  <!-- BACKGROUND -->
  <div class="background--cross-dots padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <div class="section-title-wrapper margin-bottom--30">
        <lottie-player 
            src="/lottie/astronaut_reading.json" 
            background="transparent"
            speed="1" 
            aria-label="Astronaut reading"
            class="lottie-aside-title"
            loop 
          autoplay>
        </lottie-player>
        <h2 class="subtitle block margin-top--10" id="background">Background<span>.</span></h2>
      </div>
      <h3 class="margin--none margin-bottom--10">Professional Experiences 🧑🏻‍💼</h3>
      <span class="normal-text block margin-bottom--30">
        An overview of contributions done as an engineer, <strong>in three (3) different countries so far.</strong>
      </span>
      <section class="padding-up-and-down--50">
      <div class="timeline">
        {{ range $key, $value := .Params.experiences }}
        <div class="container {{if not (modBool $key 2)}} right {{else}} left {{ end }}">
          <div class="date">{{ .period }}</div>
          <div class="content">
            <small class="date-content">{{ .period }}</small>
            <h2>{{ .position }}</h2>
            <span class="subtitle block font-size--18">{{ .company }}</span>
            <span class="subtitle--secondary block color--normal">
              <i class="fa fa-industry mr-1"></i>
              {{ .sector }}
            </span>
            <span class="subtitle--secondary block margin-bottom--20 color--normal">
              <i class="fa fa-map-pin mr-1"></i>
              {{ .location }}
            </span>
            <p class="font-size--18 color--normal">
              {{ .description }}
            </p>
          </div>
        </div>
        {{ end }}
      </div>
      </section>
    </div>
  </div>
  <!-- STUDIES -->
  <div class="background--grey padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <h3 class="margin--none margin-bottom--10">Studies 📚</h3>
      <span class="normal-text block margin-bottom--30">
        Educational path chosen for career growth.
      </span>
      <section class="align-items--flex-start justify-content--inherit">
        <div>
          {{ range $key, $value := .Params.studies }}
          <div id="studies_{{ $key }}" class="margin-bottom--20 studies-wrapper">
            <span class="block font-size--20 margin-bottom--20 font-weight--500">
              <i class="fa fa-map-pin color--pink mr-2"></i>{{ .location }}
            </span>
            <div class="studies-grid">
              {{ range .studies }}
              <div class="experience-topic margin-bottom--30 study-item">
                {{ if eq .isOngoing true }}
                <span class="block text--18">
                  <i class="fa fa-book color--pink" title="On-going"></i>
                  On-going
                </span>
                {{ end }}
                <h4 class="title margin--none">{{ .degree }}</h4>
                <span class="normal-text block">{{ .school }}</span>
                <span class="subtitle--secondary block">
                  <i class="fa fa-calendar"></i>
                  {{ .period }}
                </span>
                <p class="color--normal">
                  {{ .description }}
                </p>
                <p class="margin--none">
                  {{ range .topics }}
                  <span class="tag">{{ . }}</span>
                  {{ end }}
                </p>
              </div>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </section>
    </div>
  </div>
  <!-- CERTIFICATIONS -->
  <div class="background--green padding-up-and-down--50">
    <div class="prose prose-neutral mx-auto min-h-[calc(100%-9rem)] px-8 py-16 pt-8 dark:prose-invert">
      <h3 class="margin--none margin-bottom--30">Certifications 🤓</h3>
      <div class="experience-grid">
        {{ range $key, $value := .Params.certifications }}
        <div id="certification_{{ $key }}" class="experience-topic">
          <h6 class="cert-title block">
            <i class="fa fa-school color--pink"></i>
            {{ .organization }}
          </h6>
          <ul>
            {{ range .certifications }}
            <li class="margin-bottom--20">
              <span class="cert-subtitle block color--normal">{{ .title }}</span>
              <span class="subtitle--secondary block">
                <i class="fa fa-calendar"></i>
                {{ .date }}
                {{ if eq .showCredential true }}
                <span class="block">Credential Id: {{ .credential }}</span>
                {{ end }}
              </span>
              {{ if eq .showURL true }}
              <a href="{{ .url }}" rel="external" class="text--small color--pink" target="_blank">
                Show credential <i class="fa fa-external-link-alt"></i>
              </a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}