---
import "../global.css";
import Header from "../components/BaseLayout/Header.astro";
import Footer from "../components/BaseLayout/Footer.astro";

const pageTitle = "My page title";
---

<html lang="en" data-theme="cmyk">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <button class="btn">Hello daisyUI</button>
        <slot />
        <Footer />
    </body>
</html>
