---
import LanguageIcon from "@assets/svg/language.svg";
import SunIcon from "@assets/svg/sun.svg";
import MoonIcon from "@assets/svg/moon.svg";
import { common } from "@content/common.json";

---

<header>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-start">
                <a class="btn btn-link" href="/">
                    <img src="/src/assets/brand_logo.png" width="50px" height="50px" alt="Brand logo" aria-label="Brand logo" />
                </a>
            </div>
            <div class="navbar-center gap-20">
                {common.main_sections.map(section => (
                    <a 
                        role="button"
                        class="navbar-link hover:text-primary" 
                        href={`#${section.anchorId}`}
                        aria-label={`Go to ${section.label}`}
                    >
                        {section.label}
                    </a>
                ))}
            </div>
            <div class="navbar-end gap-1">
                <div class="dropdown dropdown-end">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost btn-circle"
                    >
                        <LanguageIcon class="h-6 w-6" />
                    </div>
                    <ul tabindex="0" class="menu dropdown-content bg-base-300 rounded-box dropdown-menu-content">
                        {common.languages.map(languange => (
                            <li><a>{languange}</a></li>
                        ))}
                    </ul>
                </div>
                <button class="btn btn-ghost btn-circle">
                    <label class="swap swap-rotate">
                        <input type="checkbox" class="theme-controller" value="synthwave" />
                        <SunIcon />
                        <MoonIcon />
                    </label>
                </button>
            </div>
        </div>
    </div>
</header>

<style>
    @reference "tailwindcss";

    header {
        @apply sticky top-0 z-50 transition-all duration-300;
    }

    .navbar-container {
        @apply w-full flex items-center justify-between bg-white/10 backdrop-blur-sm shadow-sm h-20 px-24;
    }

    .navbar-link {
        @apply text-xl no-underline font-semibold;
    }
    .dropdown-menu-content {
        @apply z-1 mt-1 p-2 shadow-sm;
    }
</style>
