---
import { About, Projects, ProfessionalExperiences, Experiments, Credentials, SkillSet } from "@components/sections";
---

<main>
    <About />
    <SkillSet />
    <Projects />
    <Credentials />
    <Experiments />
    <ProfessionalExperiences /> 
</main>

<style>
    @reference "tailwindcss";
    
    main {
        @apply flex w-full flex-col;
    }
</style>