---
import { About, Projects, ProfessionalExperiences, Experiments } from "@components/sections";
---

<main>
    <About />
    <Projects />
    <Experiments />
    <ProfessionalExperiences /> 
</main>

<style>
    @reference "tailwindcss";
    
    main {
        @apply flex w-full flex-col;
    }
</style>