---
import { About, Projects, ProfessionalExperiences, Studies } from "@components/sections";
---

<main class="container mx-auto p-4">
    <div class="flex w-full flex-col">
        <!-- <About />
        <div class="divider">OR</div> -->
        <Projects />
        <div class="divider">OR</div>
        <ProfessionalExperiences />
        <div class="divider">OR</div>
        <Studies /> 
    </div>
</main>