---
import { About, Projects, ProfessionalExperiences, Studies, Experiments } from "@components/sections";
---

<main class="flex w-full flex-col">
    <About />
    <Projects />
    <Experiments />
    <!-- <Projects />
    <Experiments />
    <ProfessionalExperiences />
    <Studies />  -->
</main>